# Node modules
node_modules/

# Build output
build/
dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependency directories
jspm_packages/

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Mac OS files
.DS_Store

# Windows files
Thumbs.db

# React specific
coverage/
.cache/
.next/
out/
*.pem

# Testing
*.test.js
*.spec.js
